<footer class="footer container" style="margin-bottom: 100px; margin-top: 100px">
    <div class="footer__container">
        <h2 class="footer__title" id="form">Расскажите о вашем проекте</h2>
        <p class="footer__subtitle">Свяжемся в течение рабочего дня</p>
    </div>
    <div class="form form__thx hidden" id="formThx">
        <h3 class="form-contact__title">Спасибо! Мы скоро с вами свяжемся</h3>
        <button class="form-contact__subtitle" onclick="location.reload()">+ Создать еще один бриф</button>
    </div>
    <form class="form" onsubmit="send_mail(); return false;">
        <input class="form__input" type="text" placeholder="Имя*" id="customerName" required>
        <input class="form__input" type="text" placeholder="Телефон" id="customerPhone">
        <input class="form__input" type="email" placeholder="E-mail*" id="customerMail" required>
        <input class="form__input" type="text" placeholder="Telegram" id="customerTg">
        <textarea class="form__input form__textarea form__wide" placeholder="Описание задачи" oninput="auto_grow(this)" id="customerText"></textarea>
        <script>
            function auto_grow(element) {
                element.style.height = "5px";
                element.style.height = (element.scrollHeight) + "px";
            }
        </script>
        <label class="form__check form__wide">
            <input class="form__check--checkbox" type="checkbox" checked id="form-checkbox" required>
            <span class="form__check--checkbox-icon"></span>
            <p>Я согласен с <a href="./policy.html">правилами обработки персональных данных</a></p>
        </label>
        <button type="submit" class="form__button form__wide">Отправить<img src="./images/form/arrow.svg" alt="#"></button>
    </form>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="/scripts/form.js"></script>
</footer>