.footer {
    margin: 0 auto;
    margin-top: 110px;
    max-width: 100%;
}

@media (min-width: 1060px) {
    .footer {
        width: 1100px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 24px;
    }
}

.footer__title {

}

.footer__subtitle {
    font-size: 16px;
}

@media (min-width: 760px) {
    .footer__subtitle {
        font-size: 20px;
    }
}
