.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    position: relative;
}

.header__logo--image {
    height: 60px;
}

.header__logo--link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header__link {
    color: var(--text-color);
    text-decoration: none;
    display: none;
    transition: .2s;
}

@media (min-width: 600px) {
    .header__link {
        display: block;
    }
}