.home {
    position: relative;
    height: 70vh;
}

@media (min-width: 600px) {
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.home-stats {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 30px;
}

.home-stats__container {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr;
    column-gap: 20px;
}

.home-stats__title {
    font-size: 64px;
    font-weight: 500;
    margin: 0;
}

.home-stats__subtitle {
    text-transform: uppercase;
}

.home-company {
    position: absolute;
    bottom: 0;
}

.home-company__logo {
    width: 90%;
}

@media (min-width: 600px) {
    .home-company__logo {
        width: 300px;
    }    
}

.home-company__subtitle {
    text-transform: uppercase;
}