.cases {

}

.cases__title {

}

.case__image {
    width: 100%;
    border-radius: 45px;
}

@media (min-width: 760px) {
    .case__image {
        height: 100%;
        object-fit: cover;
        border-radius: 55px;
    }
}

.case__title {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 30px 15px;
}

.case__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cases__item {
    position: relative;
    height: 100%;
}

@media (min-width: 760px) {

    .cases__item {
        position: relative;
        height: 250px;
        margin-bottom: 30px;
        transition: scale 0.2s;
    }

    .cases__item:hover {
        scale: 1.02;
    }

    .cases__item:last-child {
        margin-bottom: 0;
    }

    .cases__item:hover .case__title {
        text-decoration: underline;
    }

    .case__title {
        position: absolute;
        top: -1px;
        left: -1px;
        background-color: #fff;
        margin: 0;
        width: 75%;
        font-size: 28px;
        padding: 25px 30px 25px 40px;
        border-radius: 0 0 55px 0;
    }

    .case__title::after {
        position: absolute;
        top: 0;
        right: -54px;
        content: '';
        display: block;
        width: 55px;
        height: 55px;
        background-image: url('../../images/corner.svg');
    }

    .case__title::before {
        position: absolute;
        bottom: -54px;
        left: 0;
        content: '';
        display: block;
        width: 55px;
        height: 55px;
        background-image: url('../../images/corner.svg');
    }

    .case__title-reverse {
        position: absolute;
        right: -1px;
        left: auto;
        padding: 25px 40px 25px 30px !important;
        border-radius: 0 0 0 55px;
        text-align: right;
    }

    .case__title-reverse::after {
        position: absolute;
        top: 0;
        right: auto;
        left: -54px;
        transform: rotate(90deg);
        display: block;
        width: 55px;
        height: 55px;
    }

    .case__title-reverse::before {
        position: absolute;
        bottom: -54px;
        transform: rotate(90deg);
        left: auto;
        right: 0;
    }
}

@media (min-width: 1280px) {
    .case__title {
        width: 50%;
    }
}