.skyblock {
    position: relative;
    height: 190px;
}

@media (min-width: 760px) {
    .skyblock {
        height: 210px;
    }
}

.skyblock__bg {
    width: 100%;
    border-radius: 45px;
    height: 100%;
}

@media (min-width: 760px) {
    .skyblock__bg {
        border-radius: 55px;
    }
}

.skyblock__box {
    background-color: var(--bg-secondary-color);
    width: 66.66%;
    position: absolute;
    z-index: 1000;
    border-radius: 45px;
    top: 0;
    bottom: 0;
    padding: 25px 20px;
    display: grid;
    row-gap: 8px;
}

@media (min-width: 760px) {
    .skyblock__box {
        border-radius: 55px;
    }
}

.skyblock__box--title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    align-self: flex-start;
}

@media (min-width: 760px) {
    .skyblock__box--title {
        font-size: 28px;
    }
}

.skyblock__box--subtitle {
    font-size: 16px;
    margin: 0;
    align-self: flex-end;
}

@media (min-width: 760px) {
    .skyblock__box--subtitle {
        font-size: 20px;
    }
}