---
title: Allay Digital - Разработка решений для бизнеса
layout: page.njk
permalink: index.html
---
<main class="main container">
    <section class="main__section home">
        <h2 class="home__title">Наша команда дизайнеров<br>и разработчиков создает<br>лучшие продукты</h2>
        <h2 class="home__title-desktop">Наша команда дизайнеров<br>и разработчиков<span class="avatars"><img class="avatars__image-desktop" src="/images/home/avatar1.png" alt="avatar"><img class="avatars__image-desktop" src="/images/home/avatar2.png" alt="avatar2"><img class="avatars__image-desktop" src="/images/home/avatar3.png" alt="avatar3"></span><br>создает лучшие продукты</h2>
        <div class="avatars">
            <img class="avatars__image" src="/images/home/avatar1.png" alt="avatar1">
            <img class="avatars__image" src="/images/home/avatar2.png" alt="avatar2">
            <img class="avatars__image" src="/images/home/avatar3.png" alt="avatar3">
        </div>
        <div class="home__sky skyblock">
            <div class="skyblock__box">
                <h3 class="skyblock__box--title">Организуем созвон</h3>
                <p class="skyblock__box--subtitle">Пообщаемся, узнаем друг друга лучше, найдем общий язык</p>
            </div>
            <img class="skyblock__bg" src="/images/skyblock.jpg" alt="skyblock">
        </div>
        <div class="home__ff"> 
            <div class="ff__left">
                <h2 class="ff__title">2 года</h2>
                <p class="ff__subtitle">опыта в дизайне и<br>разработке</p>
            </div>
            <div class="ff__right">
                <h2 class="ff__title">12 проектов</h2>
                <p class="ff__subtitle">было завершено за текущий год<br>нашей студией</p>
            </div>
            <div class="ff__hashtags">
                <p class="ff__hashtag">#модно</p>
                <p class="ff__hashtag">#свежо</p><br>
                <p class="ff__hashtag">#быстро</p>
                <p class="ff__hashtag">#надежно</p>
            </div>
            <img class="ff__image" src="/images/home/main.jpg" alt="main">
        </div>
        <p class="home__slogan">Мы - Allay Digital. Создаем сайты,<br>интерфейсы и дизайн-<br>системы.</p>
        <a class="home__button" href="#form">Обсудить проект <img class="home__button--image" src="/images/home/arrow-right.svg" alt="->"></a>
        <a class="home__link" href="/cases.html">Посмотрите наш последний кейс <img class="home__link--image" src="/images/home/arrow-tolink.svg" alt="^"></a>
    </section>
    <section class="main__section start">
        <h2 class="start__title">С чего начнем?</h2>
        <div class="start__sky skyblock">
            <div class="skyblock__box">
                <h3 class="skyblock__box--title">Организуем созвон</h3>
                <p class="skyblock__box--subtitle">Пообщаемся, узнаем друг друга лучше, найдем общий язык</p>
            </div>
            <img class="skyblock__bg" src="/images/skyblock.jpg" alt="skyblock">
        </div>
        <h2 class="start__title">Беремся даже за задачи со звездочкой*</h2>
        <img class="start__man" src="/images/start/man.jpg" alt="man">
        <img class="start__sky-desktop" src="/images/start/sky.jpg" alt="sky">
        <div class="start__stats">
            <div>
                <div class="stats__item">
                    <h3 class="stats__title">94%</h3>
                    <div class="stats__bar"><div class="stats__bar--line stats__bar--line-first"></div></div>
                    <p class="stats__subtitle">Пользователей составляют первое впечатление на основе дизайна</p>
                </div>
                <div class="stats__item">
                    <h3 class="stats__title">88%</h3>
                    <div class="stats__bar"><div class="stats__bar--line stats__bar--line-second"></div></div>
                    <p class="stats__subtitle">Пользователей не вернутся на сайт, если их “первое касание” оказалось негативным</p>
                </div>
                <div class="stats__item">
                    <h3 class="stats__title">38%</h3>
                    <div class="stats__bar"><div class="stats__bar--line stats__bar--line-third"></div></div>
                    <p class="stats__subtitle">Пользователей покидают веб-сат, если им неудобно</p>
                </div>
            </div>
            <div>
                <h3 class="stats-tip__title">Работаем только на основе данных</h3>
                <p class="stats-tip__subtitle">Составляем CJM и User flow для достижения максимального результата</p>
            </div>
        </div>
    </section>
    <section class="main__section dev">
        <h2 class="dev__title">Сделаем процесс разработки<br>прозрачным для вас</h2>
        <div class="dev__sky skyblock">
            <div class="skyblock__box">
                <h3 class="skyblock__box--title">Что сейчас делаете?</h3>
                <p class="skyblock__box--subtitle">Мы отчитываемся о проделанной работе и сообщаем о всех изменениях</p>
            </div>
            <img class="skyblock__bg" src="/images/skyblock.jpg" alt="skyblock">
        </div>
        <img class="dev__image" src="/images/dev/man.jpg" alt="man">
        <h3 class="dev__subtitle-desktop">Работаем по<br>согласованному ТЗ</h3>
        <img class="dev__heatmap-desktop" src="/images/dev/heatmap.jpg" alt="heatmap">
        <div class="dev__tasks">
            <h3 class="tasks__title">Последовательно<br>закрываем все задачи</h3>
            <div class="tasks__container">
                <p class="tasks__label">Разработаем сайт</p>
                <p class="tasks__label">Подберем и настроим хостинг</p>
                <p class="tasks__label">Проведем тестирования</p>
            </div>
        </div>
    </section>
    <section class="main__section deadlines">
        <div class="deadlines__heading">
            <h2 class="deadlines__title">Мы ставим только<br>реальные сроки</h2>
            <p class="deadlines__subtitle">Работаем по отлаженному процессу.<br>Все будет по плану</p>
        </div>
        <div class="calendar">
            <div class="calendar__container">
                <img class="calendar--image" src="/images/deadlines/calendar.jpg" alt="calendar">
            </div>
            <h3 class="calendar--title">45 дней</h3>
            <p class="calendar--subtitle">Среднее время<br>работы над<br>проектом</p>
        </div>
        <div class="deadlines__clock clock">
            <div class="hand hour" id="hour"></div>
            <div class="hand minute" id="minute"></div>
            <div class="hand second" id="second"></div>
        </div>
        <script src="/scripts/clock.js"></script>
        <img class="deadlines__timeline" src="/images/deadlines/timeline.svg" alt="timeline">
    </section>
    <section class="main__section cases">
        <h2 class="cases__title">Наши работы говорят за нас</h2>
            {%- for post in collections.post | prettyPosts -%}
                <div class="cases__item">
                    <img class="case__image" src="{{ post.url }}images/card.jpg" alt="card">
                    {% if loop.index == 2 %}
                        <h3 class="case__title case__title-reverse">{{ post.data.title }}</h3>
                    {% else %}
                        <h3 class="case__title">{{ post.data.title }}</h3>
                    {% endif %}
                    <a class="case__link" href="{{ post.url }}"></a>
                </div>
            {%- endfor -%}
        </div>
    </section>
</main>