---
title: Allay Digital - Разработка решений для бизнеса
layout: page.njk
permalink: index.html
---
<!-- <section class="home container">
    <div class="home-stats">
        <div class="home-stats__container">
            <p class="home-stats__title">12</p>
            <p class="home-stats__subtitle">Успешных<br>проектов<br>за год</p>
        </div>
        <div class="home-stats__container">
            <p class="home-stats__title">4</p>
            <p class="home-stats__subtitle">Года опыта в<br>дизайне и<br>разработке</p>
        </div>
    </div>
    <div class="home-company">
        <img class="home-company__logo" src="/images/full-logo.Svg" alt="#">
        <p class="home-company__subtitle">Студия разработки и дизайна</p>
    </div>
</section> -->
<section class="projects container">
    <h1 class="projects__heading">Наши проекты</h1>
    {%- for post in collections.post | reverse -%}
    <article class="project">
        <h2 class="project__title">{{ post.data.heading }}</h2>
        <p class="project__subtitle">{{ post.data.preview }}</p>
        <img class="project__image" src="{{ post.url }}images/card.jpg" alt="#">
        <p class="project__tag">{{ post.data.tag }}</p>
        <a class="project__link" href="{{ post.url }}"></a>
    </article>
    {%- endfor -%}
</section>